<breadcrumbs [breadCrumb]="breadcrumbs"></breadcrumbs>

<section class="content">
        <div class="row">
            <div class="col-md-6">
                <section id="map-container" class="box box-solid box-primary" >
                    <div class="box-header">
                        City View
                    </div>
                    <div class="box-body"></div>
                </section>
            </div>
            <div class="col-md-6">
            <section id="alerts-container" class="box box-solid box-primary">
                <div class="box-header">
                    Alerts
                </div>
                <div class="box-body">
                    <system-alert *ngFor="let alert of alerts" [alert]="alert"></system-alert>
                </div>
            </section>
            </div>
        </div>
</section>

<div (window:keyup)="handleHotKey($event)"></div>

